# GIT ignore configruation
# The environment and result folder are ignored
env/
results/
evaluation/
.vscode/
*.gif
*.h5
*.cmd

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache