# GIT ignore configruation
# The environment and result folder are ignored
env/
/results/
drone_charging_example/results/*
!drone_charging_example/results/evaluation
!drone_charging_example/results/output
!drone_charging_example/results/test_12_drones
!drone_charging_example/results/vis_12drones
.vscode/
*.cmd


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache